<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669898365515-o4186e70kbj2gkcbpsppimv83geu9m49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669898365515-o4186e70kbj2gkcbpsppimv83geu9m49</string>
	<key>API_KEY</key>
	<string>AIzaSyAfmJjnCidSx3if8mKr-DMmf3Bcw5fBH7I</string>
	<key>GCM_SENDER_ID</key>
	<string>669898365515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sia.cleaning.siascleaning</string>
	<key>PROJECT_ID</key>
	<string>sia-s-cleaning</string>
	<key>STORAGE_BUCKET</key>
	<string>sia-s-cleaning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669898365515:ios:6936ecbf457285d0744bce</string>
</dict>
</plist>